<nav style="background:#023160;" class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">       
            <span style="color:white;position:relative;top:5px;"> | </span>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'rt_index' %}">
                    <i style="color:white;" class="fas fa-sign-in-alt"></i>
                    <span style="color:white;">   Sair </span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class=""> 
    <ul>
        <!--li class="active"><a href=""><i class="far fa-dot-circle nav-icon"></i> Listar </a></li>
        <li> <a href=""><i class="far fa-dot-circle nav-icon"></i> Cadastrar </a></li>
        <li> <a href=""><i class="far fa-dot-circle nav-icon"></i> Editar </a></li-->
    </ul>    
</div>